<main class="about-us-main">
  <div class="about-us-main h1">
    <h1>Who are we?</h1>
    <p class = "about-us-paragraph">
     In search of resources, latest info and inspirations in music, arts and fashion? You’ve reached the right place. Browse through our blogs to read, enjoy and polish your artistic skills and stay up to date on the latest in creative.
    </p>
 
    <p>
     Stay up to date in the world of fashion. Our blogs offer a creative and unique blend of fashion and art to take you on an inspirational journey. Read about how the latest in fashion is evolving and follow the dopest fashion trends.
    </p>
  <img src="./images/1.jpg" alt="company figure" width="1500" height="600">
    <p>
      Want to know about history making releases or guidance on how to kick-start your own career in music? Got you. Our content offers the latest in the world of music, musicians, singers and music lovers.
    </p>
  
    <p>
      In search of resources, latest info and inspirations in music, arts and fashion? You’ve reached the right place. Browse through our blogs to read, enjoy and polish your artistic skills and stay up to date on the latest in creative.
    </p>

    <p>
      Stay up to date in the world of fashion. Our blogs offer a creative and unique blend of fashion and art to take you on an inspirational journey. Read about how the latest in fashion is evolving and follow the dopest fashion trends.
    </p>
 
    <p>
      Want to know about history making releases or guidance on how to kick-start your own career in music? Got you. Our content offers the latest in the world of music, musicians, singers and music lovers.
    </p>
  
  </div>

</main>