<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vintage Connect</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/index/index-style.css">
    <link rel="stylesheet" href="/stylesheets/index/index-media.css">
    <link rel="stylesheet" href="/stylesheets/profile/owner-profile.css">
    <link rel="stylesheet" href="/stylesheets/profile/owner-edit.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><img class="logo" src="/images/company_logo.jpg" alt="vintage logo"></a>
        <div class="hamburger-container" id="hamburger" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <ul class="nav-ul-menu" id="menu">
          {{#if user}}
          <li><a href="./views/about">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="/logout">Log out</a></li>
          {{else if lover}}
          <li><a href="/products">Products</a></li>
          <li><a href="#">owner</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="/logout">Log out</a></li>
          {{else}}
          <li><a href="/#lovers">Vintage Lover?</a></li>
          <li><a href="/#owners">Shop Owner?</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="#">Contact us</a></li>
          {{/if}}
        </ul>
      </nav>
      <div class="spacer"></div>
    </header>

    {{{body}}}

    <footer class="footer">
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-github-square"></i></a>
      </div>
    </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {{!-- <script>
    function myFunction(x) {
    x.classList.toggle("change");
    document.getElementById("menu").classList.toggle("show");
    document.getElementById("spacer").classList.toggle("spacedown");
  }
  </script> --}}
  </body>
</html>