<form class="login-form" action="/login" method="POST">

 <div>
 <img src="/images/vintage_lady.jpg" alt="lover login picture" width="1000" height="500">
 </div>

    <label for="">Email:</label>
    <input class="input-login" type="email" name="email">
    <label for="">Password:</label>
    <input class="input-login" type="password" name="password">         
    <input class="submit-btn" type="submit">
</form>