<form class="signup-form" action="/owners/login" method="POST">
 <div>
 <img src="/images/vintage_owner.jpg" alt="owner login picture" width="1000" height="600">
 </div>
            <label for="username">Username:</label>
            <input class="input-login" type="text" name="username">
            <label for="password">Password:</label>
            <input class="input-login" type="password" name="password">         
            <input class="submit-btn" type="submit">
        </form>