<form class="signup-form" action="/signup" method="POST">
 
 <div>
 <img src="/images/vintage_lady.jpg" alt="lover sign up picture" width="1000" height="500">
</div>
            <label for="">Email:</label>
            <input class="input-signup" type="email" name="email">
            <label for="">Password:</label>
            <input class="input-signup" type="password" name="password">         
            <input class="submit-btn" type="submit">
        </form>