<form class="signup-form" action="/owners/signup" method="POST">
<div>
 <img src="/images/vintage_owner.jpg" alt="owner sign up picture" width="1000" height="600">
</div>
            <label for="">Username:</label>
            <input class="input-signup" type="username" name="username">
            <label for="">Email:</label>
            <input class="input-signup" type="email" name="email">
            <label for="">Password:</label>
            <input class="input-signup" type="password" name="password">         
            <input class="submit-btn" type="submit">
</form>