<div>
    <form method="POST" action="/products/create">
        <label>
            Product Name:
                <input type="text" name="name" placeholder="ex. Stylish Hat">
        </label>
        <label>
            Product Description:
                <textarea name="description" placeholder="ex. The item is made of ..."></textarea>
        </label>
        <label>
            Product Weight
            <input type="number" name="weight">
        </label>
        <button type="submit">Create Product</button>
    </form>
</div>